.form-selected-number {
  
    h2 {
      font-size: 1.8rem;
      text-align: center;
      margin-bottom: 2rem;
      color: #333;
    }
  
    .form-container {
      form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
  
        .form-group {
          display: flex;
          flex-direction: column;
          &.textarea {
            height: 120px;
            resize: vertical; // hoặc none, hoặc both tùy ý
          }
  
          label {
            margin-bottom: 0.5rem;
            font-weight: 600;
            color: #333;
          }
  
          input,
          select {
            padding: 0.75rem 1rem;
            border: 1px solid #ccc;
            border-radius: 0.5rem;
            font-size: 1rem;
            transition: border-color 0.2s, box-shadow 0.2s;
  
            &:focus {
              border-color: #007bff;
              box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.2);
              outline: none;
            }
  
            &:disabled {
              background-color: #f1f1f1;
              cursor: not-allowed;
            }
          }
  
          .form-select {
            appearance: none;
            background-image: url("data:image/svg+xml,%3Csvg fill='gray' viewBox='0 0 24 24' width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: right 1rem center;
            background-size: 1rem;
            padding: 0.75rem 1rem;

          }
        }
      }
    }
  }